<h3> <%= @list.name %> </h3>



<% @list.bookmarks.each do |bookmark| %>
<hr>
<h3> <%= link_to bookmark.movie.title, list_bookmark_path(@list.id, bookmark.id), class: "text-decoration-none text-black" %> </h3>
<%= link_to "Leave a Review", new_list_bookmark_review_path(@list.id, bookmark.id), class: "btn btn-primary text-white" %>
<%= button_to "Delete Movie", list_bookmark_path(@list.id, bookmark.id), method: :delete, class: "btn btn-danger text-white" %>
<% end %>

<%= link_to "Back to all Lists", lists_path, class: "btn btn-primary text-white" %>
<hr>

<h3>Bookmark a Movie</h3>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>

<hr>
<%= button_to "Delete List", list_path(@list), method: :delete, class: "btn btn-danger" %>
